# 군집형

## 문자열(String) 타입

### 기본 활용법

* 문자열은 Single quotes(`'`)나 Double quotes(`"`)을 활용하여 표현 가능합니다.

    - 작은따옴표: `'"큰" 따옴표를 담을 수 있습니다'`

    - 큰따옴표: `"'작은' 따옴표를 담을 수 있습니다"`

    - 삼중 따옴표: `'''세 개의 작은따옴표'''`, `"""세 개의 큰따옴표"""`


* 단, 문자열을 묶을 때 동일한 문장부호를 활용해야하며, `PEP-8`에서는 **하나의 문장부호를 선택**하여 유지하도록 하고 있습니다. 
(Pick a rule and Stick to it)

In [ ]:
# 변수에 문자열을 넣고 출력해봅시다.
# 변수 greeting 에 hi를 name 에 'python'을 할당합시다. 
# 그리고 각각의 변수를 print로 찍어보고 type도 확인해봅시다.

In [1]:
greeting = 'hi'
name = 'python'

print(greeting)
print(name)

hi
python

In [4]:
type(greeting), type(name)

(str, str)

In [ ]:
# 변수 age 에 사용자로 부터 입력을 받을 수 있는 input()의 결과를 저장합시다.
# age 에 입력받은 값이 저장되었는지 그리고 그 type이 무엇인지 확인해봅시다.
# 숫자를 넣었을때와 문자를 넣었을때의 type이 같은지 다른지도 확인해봅시다.

In [11]:
age = input()

16

In [12]:
print(age)

16

In [13]:
type(age)

str

In [ ]:
# 입력받은 문자열을 int로 형변환해봅시다.

In [16]:
int(age)

16

#### 따옴표 사용

문자열 안에 문장부호(`'`, `"`)가 사용될 경우 이스케이프 문자(`\`)를 활용 가능 합니다.

In [ ]:
# 문자열 안에 문장부호가 들어간 '철수가 말했다. '안녕?'' 을 활용해서 오류를 확인해봅시다.

In [17]:
print('철수가 말했다. '안녕?'')

SyntaxError: invalid syntax. Perhaps you forgot a comma? (3686239262.py, line 1)

In [ ]:
# 해당 오류를 1) 이스케이프 문자와 2) 서로 다른 문장부호 구성을 통해 해결해봅시다.

In [18]:
#1.
print('철수가 말했다. \'안녕?\'')

철수가 말했다. '안녕?'

In [19]:
#2.
print('철수가 말했다. "안녕?"')

철수가 말했다. "안녕?"

여러줄에 걸쳐있는 문장은 다음과 같이 표현 가능합니다.

* `PEP-8`에 따르면 이 경우에는 반드시 `"""`를 사용하도록 되어 있다.

In [ ]:
# 여러줄을 출력해봅시다.

In [21]:
print("""hello python
hello kdt""")

hello python
hello kdt

In [ ]:
# 문자열은 + 연산자로 이어붙이고, * 연산자로 반복시킬 수 있습니다.
# 'heyheyhey yo!' 를 출력하도록 코드를 작성해봅시다.

In [9]:
'hey' * 3 + ' yo!'

# print("'%s yo!'"%('hey'*3))

'heyheyhey yo!'

In [ ]:
# 당연히 변수화해서도 사용가능합니다.
# 변수 prefix에 'Py'를 할당합니다.
# 그리고 prefix에 'thon'을 붙여봅시다.

In [10]:
prefix = 'Py'
prefix + 'thon'

'Python'

### 이스케이프 시퀀스

문자열을 활용하는 경우 특수문자 혹은 조작을 하기 위하여 사용되는 것으로 `\`를 활용하여 이를 구분합니다. 

|<center>예약문자</center>|내용(의미)|
|:--------:|:--------:|
|\n|줄 바꿈|
|\t|탭|
|\r|캐리지리턴|
|\0|널(Null)|
|\\\\ |`\`|
|\\'|단일인용부호(`'`)|
|\\"|이중인용부호(`"`)|

In [14]:
print('\'')

'

In [ ]:
# print를 한번만 사용하여 이스케이프 문자열을 조합하여 다음 결과가 나올 수 있게 해봅시다.
# '엔터
# 탭    탭'

In [15]:
print('\'엔터\n탭\t탭\'')

'엔터
탭	탭'

In [ ]:
# print 함수의 end 옵션에도 이스케이프 문자를 사용할 수 있습니다.
# 아래 코드를 수정하여 다음의 결과를 출력해봅시다.
# '내용을 띄워서 출력하고 싶으면?    옆으로 띄워짐'

In [16]:
print('내용을 띄워서 출력하고 싶으면?', end='\t')
print('옆으로 띄워짐')

내용을 띄워서 출력하고 싶으면?	옆으로 띄워짐

In [17]:
print('안녕하세요', end='')
print('반가워요')

안녕하세요반가워요

In [ ]:
# print 함수의 end 옵션의 기본은 \n입니다.
# 물론, end 옵션은 이스케이프 문자열이 아닌 다른 것도 가능합니다.
# end에 다른 문자열도 넣을 수 있습니다. 
# 아래 코드를 수정하여 다음의 결과를 출력해봅시다.
# '개행 문자 말고도 가능합니다!진짜로!알고보면 print는 기본이\n!'

In [18]:
print('개행 문자 말고도 가능합니다', end="!")
print('진짜로', end="!")
print('알고보면 print는 기본이 \\n',end="!")

개행 문자 말고도 가능합니다!진짜로!알고보면 print는 기본이 \n!

### String interpolation 

* `%-formatting` 

    * `%d` : 정수
    
    * `%f` : 실수
    
    * `%s` : 문자열

* [`str.format()` ](https://pyformat.info/)

* [`f-strings`](https://www.python.org/dev/peps/pep-0498/) : 파이썬 3.6 이후 버전에서 지원

In [ ]:
# name 변수에 이름, score 변수에 학점을 넣어봅시다.

In [35]:
name = '최재진'
score = 4.4

In [ ]:
# %-formatting을 활용해봅시다.
# print를 이용하여 name 을 출력해봅시다..
# print를 이용하여 score를 정수 형태로 출력해봅시다.
# print를 이용하여 score를 실수 형태로 출력해봅시다.

In [21]:
print('%s'%name)

최재진

In [32]:
print('%d'%score)

4

In [33]:
print('%f'%score)

4.400000

In [ ]:
# str.format()을 활용해봅시다.
# name 을 출력해봅시다.

In [ ]:
이름    성적
최재진    4.4
정연주    4.5

for name, score in scores:
    print('{0} {1}'.format(name, score))

In [37]:
'내 이름은 '+ name + '이고, 내 성적은' + str(score) + '입니다.'

'내 이름은 최재진이고, 내 성적은4.4입니다.'

In [36]:
print('내 이름은 {0}이고, 내 성적은 {1}입니다.'.format(name, score))

내 이름은 최재진이고, 내 성적은 4.4입니다.

In [ ]:
# f-string을 활용해봅시다.
# name 을 출력해봅시다.

In [38]:
f'이름: {name}, 성적: {score}'

'이름: 최재진, 성적: 4.4'

In [ ]:
# 여러줄 문자열에서도 사용 가능합니다.
# f-string을 이용하여 name을 여러줄 문자열로 출력해봅시다.

In [40]:
print(f"""이름은
{name}입니다.
""")

이름은
최재진입니다.

* f-strings에서는 형식을 지정할 수 있습니다.

In [ ]:
# 다양한 형식을 활용하기 위해 datetime 모듈로 오늘을 표현해봅시다.
# today 에 현재 시간 날짜를 할당해봅시다.
# print를 이용하여 today를 출력해봅시다.

In [41]:
import datetime
today = datetime.datetime.now()
print(today)

2023-01-31 16:28:45.398668

In [ ]:
# interpolation에서 출력형식을 지정할 수 있습니다.
# today에 저장된 시간을 YYYY년, mm월, dd일, a요일 로 구분해서 출력해봅시다.

In [42]:
print(f'오늘은 {today:%Y}년 {today:%m}월 {today:%d}일 {today:%A}')

오늘은 2023년 01월 31일 Tuesday

* f-strings에서는 연산과 출력형식 지정도 가능합니다.

In [ ]:
# string interpolation을 통해 출력형식 지정 뿐만 아니라, 연산도 가능합니다.
# pi = 3.141592 를 할당하고 
# 원주율은 3.14를 출력해봅시다.

In [44]:
pi = 3.141592
print(f'원주율은 {pi:.2f}')

원주율은 3.14

In [ ]:
# 반지름이 2일 때 원의 넓이는 12.566368 이라고 출력해봅시다.

In [45]:
radius = 2
print(f'반지름이 {radius}일 때 원의 넓이는 {radius * radius * pi}')

반지름이 2일 때 원의 넓이는 12.566368

In [58]:
'+'+'{0:+<5}'.format('o')

'+o++++'

In [54]:
print('{1:0^8} {0}'.format('abc', 'ccc'))

00ccc000 abc

In [56]:
print('{0:y<5}'.format('abcdef'))

abcdef

In [60]:
print('알고보면 print는 기본이 \\n \n', end='!')

알고보면 print는 기본이 \n
!

<p style="font-size: 33px; font-weight: 700; margin-bottom: 3rem">컨테이너(Container)</p>

여러 개의 값을 저장할 수 있는 것(~~객체~~)

- 시퀀스(Sequence)형: 순서가 있는(ordered) 데이터
- 비 시퀀스(Non-sequence)형: 순서가 없는(unordered) 데이터

# 시퀀스(sequence)형 컨테이너

`시퀀스`는 데이터가 순서대로 나열된(ordered) 형식을 나타냅니다. 

* **주의! 순서대로 나열된 것이 `정렬되었다(sorted)`라는 뜻은 아닙니다.**

## 특징
1. 순서를 가질 수 있습니다.

2. **특정 위치의 데이터를 가리킬 수 있습니다.**

## 종류
파이썬에서 기본적인 시퀀스 타입은 다음과 같습니다.

* 리스트(list)

* 튜플(tuple)

* 레인지(range)

* *문자형(string)*

* *바이너리(binary)* : 따로 다루지는 않습니다.


## 리스트(`list`)

<center><img src="https://user-images.githubusercontent.com/18046097/61180421-fe90ae80-a650-11e9-8211-d06f87756d05.png", alt="list figure"/></center>

**활용법**
```python
[value1, value2, value3]
```

리스트는 대괄호`[]` 및 `list()` 를 통해 만들 수 있습니다.

값에 대한 접근은 `list[i]`를 통해 합니다.

In [ ]:
# 빈 list를 만들어봅시다.
# 변수명 my_list인 list를 대괄호로 만들어봅시다.
# 변수명 another_list인 list를 list()로 만들어 봅시다.
# 두 변수의 타입을 출력해 봅시다.

In [4]:
list = []

In [5]:
list()

TypeError: 'list' object is not callable

In [6]:
del list

In [8]:
my_list = []
another_list = list()

In [11]:
print(type(my_list))
print(type(another_list))
type(my_list), type(another_list)

<class 'list'>
<class 'list'>

(list, list)

In [ ]:
# 원소를 포함한 list를 만들어 봅시다.
# 변수명이 location인 list에 국내 지역 5곳을 원소로 포함해 만들어 봅시다.
# 변수 location을 출력해 봅시다.
# location의 타입을 출력해 봅시다.

In [19]:
location = ['서울', '경기', '인천', '광주', '부산']

print(location)
type(location)

['서울', '경기', '인천', '광주', '부산']

list

In [ ]:
# location의 첫번째 값을 인덱스로 접근해 봅시다.

In [20]:
location[0]

'서울'

In [ ]:
# 첫 번째 요소를 강릉으로 바꿔봅시다.

In [21]:
location[0] = '강릉'

In [22]:
print(location)

['강릉', '경기', '인천', '광주', '부산']

단, 인덱스로 접근할 수 있다는 말이 값을 변경 할 수 있다는 말과 동일한 것은 아님!!

## 튜플(`tuple`)

**활용법**

(value1, value2)

튜플은 리스트와 유사하지만, `()`로 묶어서 표현합니다.

그리고 tuple은 수정 불가능(불변, immutable)하고, 읽을 수 밖에 없습니다.

직접 사용하기 보다는 파이썬 내부에서 다양한 용도로 활용되고 있습니다.

In [ ]:
# tuple을 만들어봅시다.
# 변수명이 my_tuple인 tuple을 만들어 봅시다. 단, 무작위 정수 2개를 포함하여 만듭니다.
# my_tuple의 타입을 출력해 봅시다.

In [23]:
my_tuple = (4, 7)
type(my_tuple)

tuple

In [ ]:
# 아래와 같은 방식으로도 만들 수 있습니다.

In [24]:
another_tuple = 1, 2
print(another_tuple)
print(type(another_tuple))

(1, 2)
<class 'tuple'>

In [ ]:
# 파이썬 내부에서는 다음과 같이 활용됩니다. (변수 및 자료형 예제에서 사용된 코드입니다.)

In [25]:
x, y = 1, 2 # tuple
print(x)
print(y)

1
2

In [ ]:
# 실제로는 tuple로 처리됩니다.

In [26]:
x, y = (1, 2)
print(x)
print(y)

1
2

In [ ]:
# 변수의 값을 swap하는 코드 역시 tuple을 활용하고 있습니다.

In [30]:
type(x), type(y)

(int, int)

In [31]:
# 1 2
x, y = y, x
print(x)
print(y)

2
1

In [ ]:
# 변수명이 empty인 빈 tuple을 만들어 봅시다.
# 빈 tuple은 빈 괄호 쌍으로 만들어집니다.
# empty의 타입을 출력해 봅시다.
# empty의 길이를 출력해 봅시다.

In [32]:
empty = ()

print(type(empty))
print(len(empty))

<class 'tuple'>
0

In [ ]:
# 변수명이 single_tuple인 하나의 요소(값)로 구성된 tuple을 만들어 봅시다. (길이가 1)
# 하나의 요소(값)로 구성된 tuple은 값 뒤에 쉼표를 붙여서 만듭니다.
# single_tuple의 타입을 출력해 봅시다.
# single_tuple의 길이를 출력해 봅시다.

In [33]:
single_tuple = (6, )

print(type(single_tuple))
print(len(single_tuple))

<class 'tuple'>
1

In [ ]:
# 길이가 1인 tuple을 만들 때 쉼표가 없는 경우 어떻게 되는지 확인 해봅시다.

In [34]:
tuple_or_not = ('hello') # tuple 아님
print(type(tuple_or_not))

<class 'str'>

In [ ]:
# 이를 튜플로 만들려면 어떻게 해야될까요

In [36]:
is_tuple = ('hello', )
print(type(is_tuple))

<class 'tuple'>

In [ ]:
my_tuple = 1, 2

In [37]:
# 추가
def my_func(a, b):
    return a, b

ans = my_func(1, 2)
print(type(ans)) # tuple
print(ans)

<class 'tuple'>
(1, 2)

In [38]:
# 추가2 
# 인덱스 접근이 가능한 것과 '수정'이 가능한 것은 다른 의미!
my_tuple = (1, 2, 3)
# print(my_tuple)
print(my_tuple[0])

my_tuple[0] = 4
print(my_tuple)

1

TypeError: 'tuple' object does not support item assignment

In [39]:
# 참고
# 인덱스 접근이 가능한 것과 '수정'이 가능한 것은 다른 의미!
my_name = 'bruno'
print(my_name[0])
my_name[0] = 'j'

b

TypeError: 'str' object does not support item assignment

## 레인지(`range()`)

`range` 는 숫자의 시퀀스를 나타내기 위해 사용됩니다.

기본형 : `range(n)` 


> 0부터 n-1까지 값을 가짐


범위 지정 : `range(n, m)` 

> n부터 m-1까지 값을 가짐

범위 및 스텝 지정 : `range(n, m, s)`

> n부터 m-1까지 +s만큼 증가한다

In [ ]:
# range를 만들어봅시다.
# 0부터 2까지 값을 가지는 range를 만들고 타입을 출력해 봅시다.

In [45]:
print(range(3))
print(type(range(3)))

range(0, 3)
<class 'range'>

In [ ]:
#1. range 객체를 list로 변환

In [46]:
list(range(3))

[0, 1, 2]

In [ ]:
#2. for에서 range 활용

In [49]:
# range(3) => [0, 1, 2]

for i in range(10):
    print(i)
    # 코드블럭
    pass

print('반복문 끝')

0
1
2
3
4
5
6
7
8
9
반복문 끝

In [ ]:
# 0부터 9까지 값을 가지는 range를 만들고 list로 형 변환을 해 봅시다.
# 작성한 range를 list()로 감싸 형 변환 할 수 있습니다.

In [50]:
range(10)
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
# 4부터 8까지의 숫자를 담은 range를 만들고 list로 형 변환을 해 봅시다.

In [51]:
range(4, 9)
list(range(4, 9))

[4, 5, 6, 7, 8]

In [ ]:
# range(start, end, [step, ])을 활용합니다.
# 0부터 -9까지 담긴 range를 만들고 list로 형 변환을 해 봅시다.
# 출력 결과는 다음과 같습니다.
# [0, -1, -2, -3, -4, -5, -6, -7, -8, -9]

In [52]:
range(0, -10, -1)

list(range(0, -10, -1))

[0, -1, -2, -3, -4, -5, -6, -7, -8, -9]


## 시퀀스에서 활용할 수 있는 연산자/함수 

|operation|설명|
|---------|---|
|x `in` s	|containment test|
|x `not in` s|containment test|
|s1 `+` s2|concatenation|
|s `*` n|n번만큼 반복하여 더하기
|`s[i]`|indexing|
|`s[i:j]`|slicing|
|`s[i:j:k`]|k간격으로 slicing|
|len(s)|길이|
|min(s)|최솟값|
|max(s)|최댓값|
|s.count(x)|x의 개수|

In [ ]:
# containment test를 확인해봅시다.
# 변수 my_string에 문자열 'string'을 담습니다.
# 문자열 'a'가 my_string에 포함되는지 'in' 연산자를 통해 확인하고 결과를 출력해봅시다.

In [53]:
my_string = 'string'

print('a' in my_string)

False

In [ ]:
# containment test를 확인해봅시다.
# 변수명이 my_list이고 정수 1, 2, 3, 5, 1들을 원소로 가지는 list를 만듭니다.
# 정수 3이 my_list에 포함되는지 'in' 연산자를 통해 확인하고 결과를 출력해봅시다.

In [54]:
my_list = [1, 2, 3, 5, 1]
print(3 in my_list)

True

In [ ]:
# not in을 사용해봅시다.

In [56]:
print(4 not in my_list)

True

In [ ]:
# concatenation(연결, 연쇄)를 해봅시다.
# 문자열 '안녕'과 문자열 '하세요'를 더하고 결과를 출력해 봅시다.

In [57]:
print('안녕' + '하세요')

안녕하세요

In [ ]:
# 정수 1과 2를 포함한 tuple과 정수 5와 6을 포함한 tuple을 더하고 결과를 출력해봅시다.

In [58]:
(1, 2) + (5, 6)

(1, 2, 5, 6)

In [ ]:
# 숫자 0이 6개 있는 list를 만들어봅시다.
# 단, 곱셉 연산자를 활용하여 만듭니다.

In [60]:
[0] * 6

[0, 0, 0, 0, 0, 0]

In [61]:
my_list = [0] * 6
# [0, 0, 0, 0, 0, 0]

# my_list[0] * 6
# 0 * 6 = 0

print(my_list[0] * 6)

0

In [ ]:
# indexing과 slicing을 하기 위해 list하나를 만들어주세요.
# 변수명은 location, 원소는 무작위 지역 5곳을 문자열로 작성합니다.
# location의 첫번째 원소에 index로 접근해 봅시다.
# -(minus) index를 활용해 맨 마지막 원소에 접근해봅시다.

In [63]:
location[0], location[-1]

('강릉', '부산')

In [ ]:
['강릉', '경기', '인천', '광주', '부산']
[ 0    , 1    , 2     , 3     , 4    ]
[ -5   , -4   , -3    , -2    , -1   ]
# 두번째, 세번째 값만 가져와봅시다.
# slicing을 사용합니다.

In [68]:
location[1:3]
# 3-1 포함해서 가져오니까 
# 세번째 값 2번 인덱스의 값을 가져오고 싶으면
# 2+1 => 3으로 두어야함

['경기', '인천']

In [ ]:
# 0부터 30까지의 정수를 원소로 가지는 list를 만들어 봅시다.
# range를 활용하여 list를 생성합니다.

In [71]:
my_list = list(range(31))

In [ ]:
# list[start: end: step]
# 위에서 작성한 list를 활용하여 0부터 30까지 3씩 증가하는 값을 가지는 새로운 list를 만들어 봅시다.
# 새롭게 생성한 list를 출력해 봅시다.

In [72]:
my_list[ 0 : 31 : 3 ]

[0, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30]

In [ ]:
# 위에서 만든 list의 길이를 확인해봅시다.

In [73]:
len(my_list[ 0 : 31 : 3 ])

11

In [75]:
second_list = my_list[ 0 : 31 : 3 ]

In [ ]:
# 위에서 만든 list의 최솟값, 최댓값을 확인해봅시다.

In [76]:
min(second_list), max(second_list)

(0, 30)

In [ ]:
# list에 담긴 특정한 것의 개수를 확인할 수도 있습니다.

In [77]:
sample_list = [1, 2, 1, 3, 1, 5]
sample_list.count(1)

3

In [81]:
a = [1, 2, 3, 4, 5]
a.append([7, 8])
print(a)
a[-1]
a.extend([7, 8])
print(a)
a[-1]

[1, 2, 3, 4, 5, [7, 8]]
[1, 2, 3, 4, 5, [7, 8], 7, 8]

8

In [87]:
a = [1, 2, 3, 4, 3, 4, 5, 3]

In [89]:
a.index(3, 3) # 앞의 3은 찾는 값, 뒤의 3은 시작 위치 (index)

4

In [91]:
try:
    a.index(6) # False라면, 뒷부분이 실행될 것임.
    print('6은 a에 있습니다.')
except:
    print('6이 a에 없습니다.')

print(a) # 하지만 Error가 발생하면 뒷부분 실행이 되지 않음.

6이 a에 없습니다.
[1, 2, 3, 4, 3, 4, 5, 3]

In [92]:
a = [4, 2, 3, 1]

a.sort()
print(a)

[1, 2, 3, 4]

In [94]:
a.sort(reverse=True)
print(a)

[4, 3, 2, 1]

In [95]:
a = [3, 2, 5, 4, 1]
a.reverse()
print(a)

[1, 4, 5, 2, 3]

In [99]:
a = [1, 2, 3, 4, 5]
b = a

# print('a', a)
# print('b', b)
print(b is a)
print(b == a)

b = a.copy()
print(b is a)
print(b == a)

True
True
False
True

In [100]:
a = [1, 2, 3, 4, 5]
b = a

b[2] = 100

print(a)
print(b)

[1, 2, 100, 4, 5]
[1, 2, 100, 4, 5]

In [101]:
a = [1, 2, 3, 4, 5]
b = a.copy()

b[2] = 100

print(a)
print(b)

[1, 2, 3, 4, 5]
[1, 2, 100, 4, 5]

In [102]:
a = [1, 2, 3, 4, [1, 2, 3]]

b = a.copy()

b[2] = 100
b[-1][0] = 30

print(a)
print(b)

[1, 2, 3, 4, [30, 2, 3]]
[1, 2, 100, 4, [30, 2, 3]]

In [103]:
import copy

a = [1, 2, 3, 4, [1, 2, 3]]
b = copy.deepcopy(a)

b[2] = 100
b[-1][0] = 30

print(a)
print(b)

[1, 2, 3, 4, [1, 2, 3]]
[1, 2, 100, 4, [30, 2, 3]]

In [ ]:
[
    [0, 10, 0, 0, 0, 0],
    [0, 0, 0, 0, 0, 0],
    [0, 0, 0, 0, 0, 0],
    [0, 0, 0, 0, 0, 0],
    [0, 0, 0, 0, 0, 0],
    [0, 0, 0, 0, 0, 0]
]

In [107]:
temp = [[0] * 6] * 6

In [109]:
temp[0][1] = 10

In [116]:
my_map = []
for _ in range(6):
    my_map.append([0] * 6)
my_map

my_map[0][1] = 10
my_map

[[0, 10, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0]]

In [113]:
temp = [[0] * 6 for _ in range(6)]

[[0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0]]

# 비 시퀀스형(Non-sequence) 컨테이너

- 세트(set)

- 딕셔너리(dictionary)

## `set`

`set`은 순서가 없고 중복된 값이 없는 자료구조입니다.

* `set`은 수학에서의 집합과 동일하게 처리됩니다. 

* `set`은 중괄호`{}`를 통해 만들며, 순서가 없고 중복된 값이 없습니다.

* 빈 세트를 만들려면 `set()`을 사용해야 합니다. (`{}`로 사용 불가능)

* 활용 가능한 연산자는 차집합(`-`), 합집합(`|`), 교집합(`&`)입니다.

### 활용법
```python
{value1, value2, value3}
```

In [ ]:
# set 두개를 만들어서 연산자들을 활용해봅시다.

In [36]:
set_a = {1, 2, 3}
set_b = {3, 6, 9}

* 차집합은 연산자 `-`를 사용합니다.

In [118]:
# set_a와 set_b의 차집합을 구해봅시다.
print(set_a - set_b)

{1, 2}

* 합집합은 연산자 `|`를 사용합니다.

In [119]:
# set_a와 set_b의 합집합을 구해봅시다.
print(set_a | set_b)

{1, 2, 3, 6, 9}

* 교집합은 연산자 `&`을 사용합니다.

In [120]:
# set_a와 set_b의 교집합을 구해봅시다.
print(set_a & set_b)

{3}

In [ ]:
# set은 중복된 값이 있을 수 없습니다.

In [121]:
set_c = {1, 1, 1}
print(set_c)

{1}

* `set`을 활용하면 `list`의 중복된 값을 손쉽게 제거할 수 있습니다.
* 단, `set`으로 변환하는 순간 순서를 보장할 수 없습니다.

In [ ]:
# set으로 중복된 값을 제거해봅시다.
# 정수 1, 2, 3, 1, 1, 2를 원소로 가지는 list를 만듭니다.
# 생성한 list를 set으로 형변환 합니다.
# 결과를 출력 해봅시다.

In [3]:
my_list = [3, 2, 1, 1, 1, 2]
my_set = set(my_list)

In [4]:
my_set

{1, 2, 3}

In [ ]:
# 다시 list로 바꿔서 확인해봅시다.

In [5]:
for i in my_set:
    print(i)

1
2
3

In [126]:
list(my_set)

[1, 2, 3]

## 세트(Set)

> 변경 가능하고(mutable), 순서가 없고(unordered), 순회 가능한(iterable)

데이터 구조로서의 세트(set)와 조작법(method)

## 추가 및 삭제

### `.add(elem)`
elem을 세트에 추가합니다.

In [ ]:
# 변수명이 fruits인 세트를 만들어봅시다.

In [1]:
fruits = set()

In [128]:
fruits

set()

In [ ]:
# add 메서드로 세트 fruits에 '포도'를 각각 2번 작성한 이후 세트 fruits를 출력해봅시다.

In [2]:
fruits.add('포도')
fruits.add('포도')

print(fruits)

{'포도'}

### `.update(*others)`

여러 값을 추가합니다.

인자로는 반드시 iterable 데이터 구조를 전달해야합니다.

In [ ]:
# 변수명이 fruits인 세트를 만들어봅시다.

In [3]:
fruits = set()

In [ ]:
# update 메서드로 세트 fruits에 {'토마토', '토마토', '딸기'} 세트와 {'포도', '레몬'} 세트 인자 2개를 함께 입력 후 
# 세트 fruits를 출력해봅시다.

In [5]:
fruits.update(('토마토', '토마토', '딸기'), ['포도', '레몬'])

print(fruits)

{'토마토', '포도', '딸기', '레몬'}

### `.remove(elem)`

elem을 세트에서 삭제하고, 없으면 KeyError가 발생합니다.

In [ ]:
# 변수명이 fruits인 세트를 만들어봅시다.

In [23]:
fruits = {'토마토', '딸기', '포도', '레몬'}

fruits.add('애플')
print(fruits)

{'애플', '토마토', '포도', '레몬', '딸기'}

In [ ]:
# remove 메서드로 세트 fruits에 '애플'과 '사과'를 각각 입력한 이후 세트 fruits를 출력해봅시다.

In [24]:
fruits.remove('애플')

In [25]:
fruits

{'딸기', '레몬', '토마토', '포도'}

In [26]:
fruits.remove('사과')

KeyError: '사과'

### `.discard(elem)`
elem을 세트에서 삭제하고 없어도 에러가 발생하지 않습니다.

In [ ]:
# 변수명이 fruits인 세트를 만들어봅시다.

In [27]:
fruits

{'딸기', '레몬', '토마토', '포도'}

In [ ]:
# discard 메서드로 세트 fruits에 '포도'와 '수박'을 각각 입력한 이후 세트 fruits를 출력해봅시다.

In [28]:
fruits.discard('포도')

In [29]:
fruits

{'딸기', '레몬', '토마토'}

In [30]:
fruits.discard('수박')
print(fruits)

{'토마토', '레몬', '딸기'}

### `.pop()`

**임의의 원소**를 제거해 반환합니다.

In [ ]:
# 변수명이 fruits인 세트를 만들어봅시다.

In [44]:
fruits.add('포도')
fruits.add('수박')
fruits

{'딸기', '레몬', '수박', '포도'}

In [ ]:
# 세트 fruits에 pop 메서드를 사용 한 반환 값을 출력해봅시다.
# 이어서 세트 fruits만을 출력해봅시다.

In [45]:
fruits.pop()

'포도'

In [46]:
fruits

{'딸기', '레몬', '수박'}

In [ ]:
# 순서가 없는 자료구조라서 인덱스가 없다.

In [34]:
fruits[0]

TypeError: 'set' object is not subscriptable

In [42]:
print(set_a)
set_b = {3, 2, 1}
print(set_b)
set_a.isdisjoint(set_b)

{1, 2, 3}
{1, 2, 3}

False

In [50]:
# remove
fruits = {'사과', '포도', '오렌지'}
print(fruits.remove('사과'))
print(fruits)
print(fruits.remove('애플'))

None
{'포도', '오렌지'}

KeyError: '애플'

In [52]:
# discard
fruits = {'사과', '포도', '오렌지'}
print(fruits.discard('사과'))
print(fruits.discard('애플'))
print(fruits)

None
None
{'포도', '오렌지'}

In [53]:
# pop
fruits = {'사과', '포도', '오렌지'}
print(fruits.pop())
print(fruits)

사과
{'포도', '오렌지'}

## `dictionary`

`dictionary`는 `key`와 `value`가 쌍으로 이뤄져있습니다.


<center><img src="https://user-images.githubusercontent.com/18046097/61180427-1405d880-a651-11e9-94e1-1cc5c2a2ff34.png"></center>

### 활용법

```python
{Key1:Value1, Key2:Value2, Key3:Value3, ...}
```

* `{}`를 통해 만들며, `dict()`로 만들 수 있습니다.
* `key`는 **변경 불가능(immutable)한 데이터**만 가능합니다. (immutable : string, integer, float, boolean, tuple, range)
* `value`는 `list`, `dictionary`를 포함한 모든 것이 가능합니다.

In [54]:
# dict() -> key와 value 추가

blood_type = dict()
print(type(blood_type))

<class 'dict'>

In [55]:
blood_type

{}

In [56]:
# key & value 추가
blood_type['bruno'] = 'O'
print(blood_type)

{'bruno': 'O'}

In [57]:
# 이건 될까?
blood_type.get('kevin') = 'AB'
print(blood_type)

SyntaxError: cannot assign to function call here. Maybe you meant '==' instead of '='? (353513605.py, line 2)

In [58]:
blood_type['kevin'] = 'AB'
print(blood_type)

# 만약 추가적으로 dict에 key value를 추가하는 방법이 있는지 궁금하다면
# 구글에 뭐라고 검색해야 할까? 고민해보자!

{'bruno': 'O', 'kevin': 'AB'}

In [ ]:
# 비어있는 dictionary를 두가지 방법으로 만들어봅시다.
# {}와 dict()로 만들 수 있습니다.
# 두 변수의 타입을 출력해 봅시다.

In [59]:
type({}), type(dict())

(dict, dict)

In [61]:
# my_dict = {[1, 2, 3]: 'my_str'} -> 불가능

In [ ]:
# dictionary에 중복된 key는 존재할 수가 없습니다.

In [75]:
dict_a = { [1, 2, 3] : '333' }

TypeError: unhashable type: 'list'

In [68]:
dict_a = { {'a': 'b'} : '123' }

TypeError: unhashable type: 'dict'

In [77]:
dict_a = { {'a', 'b', 'c'} : '123' }

TypeError: unhashable type: 'set'

In [78]:
my_dict = dict(name='my_str', score1=70)
print(my_dict)

{'name': 'my_str', 'score1': 70}

In [67]:
dict_a = {1: 1, 2: (1,2,3), 3: [3,22,1], 1: {'name': 'sosin'}}
print(dict_a)

{1: {'name': 'sosin'}, 2: (1, 2, 3), 3: [3, 22, 1]}

In [ ]:
# 지역번호가 담긴 전화번호부를 만들어봅시다.
# 변수 phone_book에 key를 지역명, value를 지역번호로 가지는 원소를 작성합니다.
# 예) 서울 - 02

In [65]:
phone_book = {
    '서울': '02',
    '경기': '031',
    '인천': '032',
    '광주': '062',
    '부산': '051',
}

In [66]:
phone_book

{'서울': '02', '경기': '031', '인천': '032', '광주': '062', '부산': '051'}

In [ ]:
# 위에서 작성한 phone_book이 가지고 있는 key 목록을 확인 해 봅시다.
# dictionary의 .keys() 메소드를 활용하여 key를 확인 해볼 수 있습니다.

In [69]:
phone_book.keys()

dict_keys(['서울', '경기', '인천', '광주', '부산'])

In [ ]:
# 반복문을 활용해 key를 하나씩 출력해봅시다

In [70]:
for key in phone_book.keys():
    print(key)

서울
경기
인천
광주
부산

In [ ]:
# 위에서 작성한 phone_book이 가지고 있는 value 목록을 확인 해 봅시다.
# 딕셔너리의 .values() 메소드를 활용하여 value를 확인 해볼 수 있습니다.

In [71]:
phone_book.values()

dict_values(['02', '031', '032', '062', '051'])

In [ ]:
# 반복문을 활용해 values를 하나씩 출력해봅시다.

In [72]:
for value in phone_book.values():
    print(value)

02
031
032
062
051

In [ ]:
# 위에서 작성한 phone_book이 가지고 있는 key와 value 목록을 확인 해 봅시다.
# 딕셔너리의 .items() 메소드를 활용하여 key, value를 확인 해볼 수 있습니다.

In [73]:
phone_book.items()

dict_items([('서울', '02'), ('경기', '031'), ('인천', '032'), ('광주', '062'), ('부산', '051')])

In [ ]:
# 반복문을 활용해 key, value 쌍을 하나씩 출력해봅시다.

In [80]:
for item in phone_book.items():
    print(item)
    print(type(item))

('서울', '02')
<class 'tuple'>
('경기', '031')
<class 'tuple'>
('인천', '032')
<class 'tuple'>
('광주', '062')
<class 'tuple'>
('부산', '051')
<class 'tuple'>

In [84]:
# 참고) unpacking

# for item in phone_book.items():
#     print(item[0], item[1])

for location, number in phone_book.items():
    # print(item[0], item[1])
    print(location, number)

서울 02
경기 031
인천 032
광주 062
부산 051

## 딕셔너리(Dictionary)

> 변경 가능하고(mutable), 순서가 없고(unordered), 순회 가능한(iterable)
>
> `Key: Value` 페어(pair)의 자료구조

데이터 구조로서의 딕셔너리(dictionary)와 조작법(method)

## 조회

### `.get(key[, default])`

key를 통해 value를 가져옵니다. 

절대로 KeyError가 발생하지 않습니다. default는 기본적으로 None입니다.

In [ ]:
# 변수명이 my_fruit인 딕셔너리를 만들어봅시다.

In [87]:
my_fruit = {
    'apple': 3,
    'banana': 5,
    'watermelon': 2,
    'pineapple': 4
}

In [ ]:
# get 메서드 없이 딕셔너리 my_fruit의 key 'pineapple'의 value를 출력해봅시다.

In [98]:
my_fruit['pineapple']

4

In [ ]:
# get 메서드로 딕셔너리 my_fruit의 key 'pineapple'의 value를 출력해봅시다.

In [89]:
my_fruit.get('pineapple')

4

In [ ]:
# get 메서드로 딕셔너리 my_fruit의 key 'apple'의 value를 출력해봅시다.

In [90]:
my_fruit.get('apple')

3

In [ ]:
# get 메서드로 딕셔너리 my_fruit의 key 'pineapple'의 value를 출력해봅시다.
# 단, key가 없다면 0을 반환하도록 해봅시다.

In [92]:
print(my_fruit)

{'apple': 3, 'banana': 5, 'watermelon': 2, 'pineapple': 4}

In [96]:
my_fruit.get('pineapplo', 0)

0

## 추가 및 삭제

### `.pop(key[, default])`

key가 딕셔너리에 있으면 제거하고 그 값을 돌려줍니다. 그렇지 않으면 default를 반환합니다.

default가 없는 상태에서 딕셔너리에 없으면 KeyError가 발생합니다.

In [ ]:
# 변수명이 my_fruit인 딕셔너리를 만들어봅시다.

In [99]:
my_fruit

{'apple': 3, 'banana': 5, 'watermelon': 2, 'pineapple': 4}

In [ ]:
# pop 메서드로 딕셔너리 my_fruit의 key 'apple'을 제거해봅시다.
# 제거 후 딕셔너리 my_fruit를 출력해봅시다.

In [100]:
my_fruit.pop('apple')

3

In [101]:
my_fruit

{'banana': 5, 'watermelon': 2, 'pineapple': 4}

In [102]:
# 제거하고자 하는 key가 딕셔너리에 없으면 KeyError가 발생합니다.
# 실행시켜 KeyError를 확인해봅시다.
my_fruit.pop('melon')

KeyError: 'melon'

In [ ]:
# pop 메서드의 두번째 인자로 default 값을 설정 해 KeyError가 발생하지 않도록 할 수 있습니다.
# pop 메서드로 딕셔너리 my_dict의 key 'melon'을 제거하고 해당 key가 없다면 0을 반환하도록 해봅시다.

In [103]:
my_fruit.pop('melon', 0)

0

### `.update()`

값을 제공하는 key, value로 덮어씁니다.

In [ ]:
# 변수명이 my_fruit인 딕셔너리를 만들어봅시다.

In [106]:
my_fruit['apple'] = 3

my_fruit

{'banana': 5, 'watermelon': 2, 'pineapple': 4, 'apple': 3}

In [ ]:
# update 메서드로 딕셔너리 my_fruit의 key는 'apple', value는 '사과아'를 입력해봅시다.

In [107]:
my_fruit.update( {'apple': '사과아'} )

In [108]:
my_fruit

{'banana': 5, 'watermelon': 2, 'pineapple': 4, 'apple': '사과아'}

In [ ]:
# grape='포도오'를 사용해봅시다.

In [109]:
my_fruit.update(grape='포도오')

In [110]:
my_fruit

{'banana': 5, 'watermelon': 2, 'pineapple': 4, 'apple': '사과아', 'grape': '포도오'}

In [112]:
# my_dict[key] = value 이렇게 값을 추가하는 것과 어떤 차이가 있을까?
my_dict2 = {}

my_dict2['name'] = 'sosin'
print(my_dict2)

my_dict2['name'] = 'jason'
print(my_dict2)

{'name': 'sosin'}
{'name': 'jason'}

In [113]:
# update를 사용하면 일괄적으로 값을 수정 / 추가 할 수 있다. 
my_dict2.update({'apple': '사과아', 'grape': '포도오'})
print(my_dict2)

{'name': 'jason', 'apple': '사과아', 'grape': '포도오'}

### [연습] 딕셔너리 순회

> 혈액형 검사한 결과가 담긴 `blood_types`이 주어졌을때, 해당 딕셔너리를 순회하며, `key`와 `value`를 출력해보세요.

---

**[출력 예시]**
```
A형은 40명입니다.
B형은 11명입니다.
AB형은 4명입니다.
O형은 45명입니다.
```

In [ ]:
# 변수명이 blood_types인 딕셔너리를 만들어봅시다.

In [117]:
blood_types = {
    'A': 40,
    'B': 11,
    'AB': 4,
    'O': 45
}

In [ ]:
# for문을 활용해봅시다.
# 딕셔너리 blood_types을 순회하며,
# 아래와 같은 문장이 출력되도록 하는 코드를 작성하세요.
"""
A형은 40명입니다.
B형은 11명입니다.
AB형은 4명입니다.
O형은 45명입니다.
"""

In [121]:
for key in blood_types:
    print(key + '형은 ' + str(blood_types[key]) + '명입니다.')

A형은 40명입니다.
B형은 11명입니다.
AB형은 4명입니다.
O형은 45명입니다.

In [ ]:
# keys메서드를 활용해봅시다.
# blood_types.keys()을 순회하며,
# 아래와 같은 문장이 출력되도록 하는 코드를 작성하세요.
"""
A형은 40명입니다.
B형은 11명입니다.
AB형은 4명입니다.
O형은 45명입니다.
"""

In [122]:
for key in blood_types.keys():
    print(key + '형은 ' + str(blood_types[key]) + '명입니다.')

A형은 40명입니다.
B형은 11명입니다.
AB형은 4명입니다.
O형은 45명입니다.

In [ ]:
# items 메서드를 활용해봅시다.
# blood_types.items()을 순회하며,
# 아래와 같은 문장이 출력되도록 하는 코드를 작성하세요.
"""
A형은 40명입니다.
B형은 11명입니다.
AB형은 4명입니다.
O형은 45명입니다.
"""

In [125]:
for key, value in blood_types.items():
    # print(key + '형은 ' + str(value) + '명입니다.')
    
    # f-string, str.format, %-formatting
    print(f'{key}형은 {value}명입니다.')
    print('{0}형은 {1}명입니다.'.format(key, value))
    print('%s형은 %d명입니다.'%(key, value))

A형은 40명입니다.
A형은 40명입니다.
A형은 40명입니다.
B형은 11명입니다.
B형은 11명입니다.
B형은 11명입니다.
AB형은 4명입니다.
AB형은 4명입니다.
AB형은 4명입니다.
O형은 45명입니다.
O형은 45명입니다.
O형은 45명입니다.

### [실습] 딕셔너리 순회

> 혈액형 검사한 결과가 담긴 `blood_types`이 주어졌을때, 해당 검사에 참가한 사람들의 총합을 구해보세요.

---

**[출력 예시]**
```
검사에 참가한 사람은 총 100명입니다.
```

In [ ]:
# 변수명이 blood_types인 딕셔너리를 만들어봅시다.

In [126]:
blood_types = {
    'A': 40,
    'B': 11,
    'AB': 4,
    'O': 45
}

In [ ]:
# for문을 통해 딕셔너리 blood_types를 순회하며,
# dict[key]로 접근하는 방법을 통해
# '검사에 참가한 사람은 총 100명입니다.' 라는 문장을 출력하는 코드를 작성하세요.

In [129]:
sum_value = 0

for key in blood_types:
    print(blood_types[key])
    sum_value = sum_value + blood_types[key]

# 'A': 40,
# 'B': 11,
# 'AB': 4,
# 'O': 45

# sum_value=0

# key => 'A'
# blood_types[key] => 40
# sum_value = 0 + 40 => 40

# key => 'B'
# blood_types[key] => 11
# sum_value = 40 + 11 => 51

# key => 'AB'
# blood_types[key] => 4
# sum_value = 51 + 4 => 55

# key => 'O'
# blood_types[key] => 45
# sum_value = 55 + 45 => 100

print(f'검사에 참가한 사람은 총 {sum_value}명입니다.')

40
11
4
45
검사에 참가한 사람은 총 100명입니다.

In [ ]:
# 메서드 values를 활용해봅시다.
# for문을 통해 딕셔너리 blood_types를 순회하며,
# '검사에 참가한 사람은 총 100명입니다.' 라는 문장을 출력하는 코드를 작성하세요.

In [131]:
sum_value = 0
for value in blood_types.values():
    print(value)
    sum_value = sum_value + value

print('검사에 참가한 사람은 총 {}명입니다.'.format(sum_value))

40
11
4
45
검사에 참가한 사람은 총 100명입니다.

In [ ]:
# 빌트인 함수 sum을 사용해 
# '검사에 참가한 사람은 총 100명입니다.' 라는 문장을 출력하는 코드를 간단하게 작성해보세요.

In [133]:
blood_types.values()

dict_values([40, 11, 4, 45])

In [134]:
'검사에 참가한 사람은 총 %s명입니다.'%sum(blood_types.values())

'검사에 참가한 사람은 총 100명입니다.'

### [응용] 딕셔너리 구축하기(counter)
> 리스트가 주어질 때, 각각의 요소의 개수를 value 값으로 갖는 딕셔너리를 만드세요.

---

**[출력 예시]**

{'great': 2, 'expectations': 1, 'the': 2, 'adventures': 2, 'of': 2, 'sherlock': 1, 'holmes': 1, 'gasby': 1, 'hamlet': 1, 'huckleberry': 1, 'fin': 1}

In [ ]:
# 변수명이 book_title인 리스트를 만들어봅시다.

In [148]:
book_title =  [
    'great', 'expectations', 'the', 'adventures', 'of', 'sherlock', 'holmes', 'the'
    'the', 'great', 'gasby', 'hamlet', 'adventures', 'of', 'huckleberry', 'fin'
]

In [149]:
# 참고 - dict에서의 containment test

my_dict = {'a': '123', 'b': '456'}
if 'a' in my_dict: # key가 있는지 여부를 판단!
    print('있다!')

있다!

In [ ]:
# 1. dict[key]로 접근하는 방법을 통해 작성해보세요.

In [154]:
book_counter = {}

# 책 제목을 key로 가지고 value가 개수인 딕셔너리로 만들어줘야한다.

# 책 제목을 한번씩 꺼내서 book에 담아준다.
for book in book_title:
    # 만약, 책 제목이 book_counter 딕셔너리에 있으면,
    if book in book_counter:
        # 기존 갯수에 1권을 추가해준다.
        book_counter[book] = book_counter[book] + 1
    # 없으면,
    else:
        # 한 권 있다고 초기화해준다.
        book_counter[book] = 1

print(book_counter)

{'great': 2, 'expectations': 1, 'the': 2, 'adventures': 2, 'of': 2, 'sherlock': 1, 'holmes': 1, 'gasby': 1, 'hamlet': 1, 'huckleberry': 1, 'fin': 1}

In [ ]:
# 2. count 메서드를 활용해 작성해보세요.

In [157]:
book_counter = {}
for book in book_title:
    book_counter[book] = book_title.count(book)

print(book_counter)

{'great': 2, 'expectations': 1, 'the': 2, 'adventures': 2, 'of': 2, 'sherlock': 1, 'holmes': 1, 'gasby': 1, 'hamlet': 1, 'huckleberry': 1, 'fin': 1}

In [ ]:
# 3. get 메서드를 활용해 작성해보세요.

> `get(key[, default])`
* key 가 딕셔너리에 있는 경우 key 에 대응하는 값을 돌려주고, 그렇지 않으면 default 를 돌려줍니다.

In [158]:
book_counter = {}

for book in book_title:
    book_counter[book] = book_counter.get(book, 0) + 1

print(book_counter)

{'great': 2, 'expectations': 1, 'the': 2, 'adventures': 2, 'of': 2, 'sherlock': 1, 'holmes': 1, 'gasby': 1, 'hamlet': 1, 'huckleberry': 1, 'fin': 1}

## 컨테이너형 형변환

- 파이썬에서 컨테이너는 서로 변환할 수 있습니다.
- 직접 실행해가며 결과를 확인해 주세요!

<img width="708" alt="typecasting" src="https://user-images.githubusercontent.com/18046097/61180466-a6a67780-a651-11e9-8c0a-adb9e1ee04de.png">

In [ ]:
# 하나의 결과를 확인 한 후, 주석 `#` 을 활용하여 이전의 코드를 비활성화 합니다.
# 형변환 후의 결과를 확인 합니다.

In [ ]:
# list를 형변환 해봅시다.

In [139]:
l = [1, 2, 3, 4]
str(l)
tuple(l)
set(l)
# range(l)
# dict(l)

TypeError: cannot convert dictionary update sequence element #0 to a sequence

In [ ]:
# 직접 형변환을 하면서 변환 가능 여부 꼭 확인할 것!

# tuple을 형변환 해봅시다.

In [ ]:
t = (1, 2, 3, 4)
str(t)
list(t)
set(t)
# range(t)
# dict(t)

In [ ]:
# range를 형변환 해봅시다.

In [ ]:
r = range(1, 5)
str(r)
list(r)
set(r)
tuple(r)
# dict(r)

In [ ]:
# set을 형변환 해봅시다.

In [ ]:
s = {1, 2, 3, 4}
str(s)
list(s)
tuple(s)
# range(s)
# dict(s)

In [ ]:
# dictionary를 형변환 해봅시다.

In [ ]:
d = {'name': 'python', 'year': 2022}
str(d)
list(d)
tuple(d)
set(d)
# range(d)

## 데이터의 분류
> `mutable` vs. `immutable`
[참고](https://www.geeksforgeeks.org/mutable-vs-immutable-objects-in-python/)

데이터는 크게 변경 가능한 것(`mutable`)들과 변경 불가능한 것(`immutable`)으로 나뉘며, python은 각각을 다르게 다룹니다.

### 변경 불가능한(`immutable`) 데이터

* 리터럴(literal)

    - 숫자(Number)
    - 글자(String)
    - 참/거짓(Bool)

* range()

* tuple()

* frozenset()

In [141]:
print(range(10)[0]) # ?? 
print(range(10)[2]) # ?? 

# 결과는 어떻게 될까?
my_range = range(10)
my_range[2] = 2

0
2

TypeError: 'range' object does not support item assignment

In [142]:
# immutable 데이터의 복사는 어떻게 이루어질까?
num1 = 20
num2 = num1 
num2 = 10

print(num1)
print(num2)

20
10

In [ ]:
# 아래 코드 블럭을 실행하여 복사 과정을 확인해 봅시다.

In [143]:
%%html
<iframe width="800" height="500" frameborder="0" src="http://pythontutor.com/iframe-embed.html#code=a%20%3D%2020%0Ab%20%3D%20a%0Ab%20%3D%2010%0A%0Aprint%28a%29%0Aprint%28b%29&codeDivHeight=400&codeDivWidth=350&cumulative=false&curInstr=0&heapPrimitives=nevernest&origin=opt-frontend.js&py=3&rawInputLstJSON=%5B%5D&textReferences=false"> </iframe>

### 변경 가능한(`mutable`) 데이터

- `list`
- `dict`
- `set`

In [144]:
# mutable 데이터의 복사는 어떻게 이루어질까?
num1 = [1, 2, 3, 4]
num2 = num1
num2[0] = 100

print(num1)
print(num2)

[100, 2, 3, 4]
[100, 2, 3, 4]

In [ ]:
# 아래 코드 블럭을 실행하여 복사 과정을 확인해 봅시다.

In [145]:
%%html
<iframe width="800" height="500" frameborder="0" src="http://pythontutor.com/iframe-embed.html#code=num1%20%3D%20%5B1,%202,%203,%204%5D%0Anum2%20%3D%20num1%0Anum2%5B0%5D%20%3D%20100%0A%0Aprint%28num1%29%0Aprint%28num2%29&codeDivHeight=400&codeDivWidth=350&cumulative=false&curInstr=0&heapPrimitives=nevernest&origin=opt-frontend.js&py=3&rawInputLstJSON=%5B%5D&textReferences=false"> </iframe>

In [146]:
num1 = [1, 2, 3, [1, 2, 3]]
num2 = num1
num2[3][1] = 100

print(num1)
print(num2)

[1, 2, 3, [1, 100, 3]]
[1, 2, 3, [1, 100, 3]]

# 정리
## 컨테이너(Container)
<center><img src="https://user-images.githubusercontent.com/18046097/61180439-44e60d80-a651-11e9-9adc-e60fa57c2165.png", alt="container"/></center>

In [ ]:
# 도전! 최대 & 최소 찾기(min & max 쓰지 않고!)
my_list = [3, 2, 10, 2, 4]